name: Generate holiday ICS files

on:
  schedule:
    # Run every year on 1st December, midnight
    - cron: "0 0 1 12 *"
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - ".github/workflows/holiday-generator/package-lock.json"
      - ".github/workflows/holiday-generator/config.js"

jobs:
  generate:
    name: Generate ICS
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: Install NodeJS
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version: 20
      - name: Run script
        env:
          LOG_ENABLED: true
        working-directory: ./.github/workflows/holiday-generator
        run: "npm install && npm start"

      - id: app-token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Create PR
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412
        with:
          token: ${{ steps.app-token.outputs.token }}
          sign-commits: true
          add-paths: |
            app/src/main/assets/holidays/**
          branch: fossifybot/holidays
          commit-message: "chore: update holidays"
          title: "chore: update holidays"
          body: " "
